@import url("https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Londrina+Sketch&family=Sofia&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Londrina+Sketch&family=Sofia&display=swap");

body {
  margin: 0;
}

menu {
  height: 10em;
  margin: 0;
  background-image: linear-gradient(
    to right,
    rgb(255, 134, 130),
    rgb(255, 106, 0),
    rgb(248, 179, 40)
  );
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.centerText {
  text-align: center;
}
.poemFont {
  font-family: "Sofia", cursive;
  font-weight: 400;
  font-style: normal;
}

.fontSize1 {
  font-size: 22px;
  font-family: "Afacad Flux", sans-serif;
}
h1,
h2,
h3,
li {
  font-family: "Afacad Flux", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

.afacadFlux {
  font-family: "Afacad Flux", sans-serif;
  font-size: 20;
}

h1 {
  font-size: 48;
  color: white;
  text-align: center;
  padding-top: 2em;
}

#hermitcraft {
  margin-top: 1em;
}

menu {
  top: 0;
  position: sticky;
}

main {
  margin-left: 15%;
  padding: 0.5em 16px;
  height: 100vh;
}

ul {
  list-style-type: none;
  margin: 10em 0 0 0;
  padding: 0;
  width: 15%;
  position: fixed;
  height: 100%;
  overflow: auto;
  background-color: gainsboro;
  border-top: 1px solid white;
}

li a {
  display: block;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #fc8b7c;
  color: black;
}

li a:hover:not(.active) {
  background-color: #f5aba1;
  color: black;
}

#menuflower {
  width: 14.4em;
  margin-top: 2.8em;
}

#dolphin {
  width: 40%;
  display: block;
  margin: 0 auto;
}

#planes {
  width: 60%;
  margin: 0 auto;
}

#plane1 {
  width: 60%;
}
#plane2 {
  width: 33.3312%;
}

#feijoada {
  width: 40%;
  display: block;
  margin: 0 auto;
}
